$primary-color : #1976d2 ;
$secondary-color : #333 ;
$accent-color : #cf1f4b ;

$primary-text-color : white;
$secondary-text-color : white;
$accent-text-color : white ;

$font : 'Poppins', sans-serif ;