@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
}

body,html{
    font-size: 14px;
}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

input,button,textarea{
    outline: none;
    border: none;
    resize: none;
    background: none;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: $secondary-color;
}

::-webkit-scrollbar-thumb{
    background-color: $accent;
}